{% extends '_entity.html.twig' %}

{% block title %}{{ 'title.security.user.create'|trans }} · {{ parent() }}{% endblock title %}

{% block content_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('home') }}" title="{{ 'nav.home.title' | trans }}">{{ 'nav.home.text' | trans }}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">{{ 'nav.admin.text' | trans }}</li>
            <li class="breadcrumb-item">
                <a href="{{ path('administration_user_index') }}" title="{{ 'nav.admin.submenu.users.title' | trans }}">{{ 'nav.admin.submenu.users.text' | trans }}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">{{ 'title.security.user.create' | trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block headline %}
    <h1>
        <span class="fa fa-user"></span>
        {{ 'title.security.user.create'|trans }}
    </h1>
{% endblock %}

{% block content_settings %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit">
        <span class="fa fa-save"></span>
        {{ 'action.user.create.text' | trans }}
    </button>
    {{ form_end(form) }}
{% endblock content_settings %}
