{% extends '_entity.html.twig' %}

{% set administration_entity_show = 'administration_user_show' %}

{% block title %}{{ 'title.security.user.password %name%'|trans({'%name%': user.username}) }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <h1>
        <span class="fa fa-user"></span>
        {{ 'title.security.user.password %name%'|trans({'%name%': user.username}) }}
    </h1>
{% endblock %}

{% block content_settings %}
    {{ form_start(password_form) }}
    {{ form_widget(password_form) }}
    <div class="text-right">
        <button class="btn btn-primary" type="submit">
            <span class="fas fa-key"></span>
            {{ 'action.user.password.text' | trans }}
        </button>
    </div>
{{ form_end(password_form) }}

{% endblock content_settings %}

{% block content_action %}
    {% include 'administration/user/_content-action.html.twig' %}
{% endblock content_action %}