{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.programmer.programmation.service-status' | trans }}
{% endblock %}

{% block content_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('home') }}" title="{{ 'nav.home.title' | trans }}">{{ 'nav.home.text' | trans }}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">{{ 'title.programmer.main' | trans }}</li>
            <li class="breadcrumb-item" aria-current="page">{{ 'title.programmer.programmation.service-status' | trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card border-primary">
                <div class="card-header">
                    <h1>
                        <span class="fa fa-tag"></span>
                        {{ 'form.field.status-service'|trans }}
                    </h1>
                </div>
                <div class="card-body">
                    {{ form_widget(form) }}
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" type="submit">
                        <span class="fas fa-fw fa-toggle-on mr-2"></span>{{ 'form.service-status.field.submit' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}