{% extends 'base.html.twig' %}

{% block title %}{{ 'title.customer.select-credit' | trans }}  &bull; {{ parent() }} {% endblock %}

{% block content_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('home') }}" title="{{ 'nav.home.title' | trans }}">{{ 'nav.home.text' | trans }}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">{{ 'title.customer.main' | trans }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'title.customer.select-credit' | trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    <div class="row justify-content-md-center mb-5">
        <div class="col-md-10">
            <div class="card border-primary">
                <div class="card-header">
                    <h1>
                        <span class="fas fa-coins"></span>
                        {{ 'title.customer.select-credit' | trans }}
                    </h1>
                </div>
                <div class="card-body">
                    <ul class="row list-unstyled">
                        <!-- First Step -->
                        <li class="col-4 text-center">
                            <span class="label">{{ 'step.payment.1' | trans }}</span>
                        </li>
                        <!-- Second Step -->
                        <li class="col-4 text-center">
                            <span class="label">{{ 'step.payment.2' | trans }}</span>
                        </li>
                        <!-- Last Step -->
                        <li class="col-4 text-center">
                            <span class="label">{{ 'step.payment.3' | trans }}</span>
                        </li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div>
                    </div>
                    <table class="table text-right table-striped">
                        <thead>
                            <tr class="d-flex">
                                <th scope="row" class="col-4"></th>
                                <th scope="row" class="col-2">{{ 'table.order.quantity' | trans }}</th>
                                <th scope="row" class="col-2">{{ 'table.order.unit-price' | trans }}</th>
                                <th scope="row" class="col-2">{{ 'table.order.credits' | trans }}</th>
                                <th scope="row" class="col-2">{{ 'table.order.price' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-4">{{ form_label(form.ten) }}</td>
                                <td class="col-2">{{ form_widget(form.ten) }}</td>
                                <td class="col-2">{{ 100 | localizedcurrency('EUR') }}</td>
                                <td class="col-2"><span id="credit10">{{ (10 * form.ten.vars.value) | localizednumber }}</span></td>
                                <td class="col-2"><span id="price10">{{ (100 * form.ten.vars.value) | localizedcurrency('EUR') }}</span></td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-4">{{ form_label(form.hundred) }}</td>
                                <td class="col-2">{{ form_widget(form.hundred) }}</td>
                                <td class="col-2">{{ 1000 | localizedcurrency('EUR') }}</td>
                                <td class="col-2"><span id="credit100">{{ (10 * form.hundred.vars.value) | localizednumber }}</span></td>
                                <td class="col-2"><span id="price100">{{ (1000 * form.hundred.vars.value) | localizedcurrency('EUR') }}</span></td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-4">{{ form_label(form.fiveHundred) }}</td>
                                <td class="col-2">{{ form_widget(form.fiveHundred) }}</td>
                                <td class="col-2">{{ 4500 | localizedcurrency('EUR') }}</td>
                                <td class="col-2"><span id="credit500">{{ (10 * form.fiveHundred.vars.value) | localizednumber }}</span></td>
                                <td class="col-2"><span id="price500">{{ (4500 * form.fiveHundred.vars.value) | localizedcurrency('EUR') }}</span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="d-flex">
                                <th scope="col" class="col-10">Prix H.T. total</th>
                                <td class="col-2"><span id="totalHT">{{ order.price | localizedcurrency('EUR') }}</span></td>
                            </tr>
                            <tr class="d-flex">
                                <th scope="col" class="offset-8 col-2">TVA</th>
                                <td class="col-2"><span id="totalVAT">{{ order.vat | localizedcurrency('EUR') }}</span></td>
                            </tr>
                            <tr class="d-flex">
                                <th scope="col" class="offset-8 col-2">Prix T.T.C. total</th>
                                <td class="col-2"><span id="totalTTC">{{ (order.vat + order.price) | localizedcurrency('EUR') }}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    {{ form_widget(form) }}
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" type="submit">
                        <span class="fas fa-fw fa-coins mr-1"></span>
                        {{ 'form.select-credit.field.submit' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    {{ include('_javascript/select-credit.js.twig') }}
    </script>
{% endblock %}
