{% extends 'base.html.twig' %}

{% block title %}{{ 'title.customer.select-credit' | trans }}  &bull; {{ parent() }} {% endblock %}

{% block content_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('home') }}" title="{{ 'nav.home.title' | trans }}">{{ 'nav.home.text' | trans }}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">{{ 'title.customer.main' | trans }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'title.customer.select-credit' | trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    <div class="row justify-content-md-center mb-5">
        <div class="col-md-10">
            <div class="card border-primary">
                <div class="card-header">
                    <h1>
                        <span class="fas fa-coins"></span>
                        {{ 'title.customer.select-credit' | trans }}
                    </h1>
                </div>
                <div class="card-body">
                    <table class="table text-right table-striped">
                        <thead>
                            <tr class="d-flex">
                                <th scope="row" class="col-4"></th>
                                <th scope="row" class="col-2">Quantité</th>
                                <th scope="row" class="col-2">Prix unitaire</th>
                                <th scope="row" class="col-2">Crédits</th>
                                <th scope="row" class="col-2">Prix H.T.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-4">{{ form_label(form.ten) }}</td>
                                <td class="col-2">{{ form_widget(form.ten) }}</td>
                                <td class="col-2">{{ 100 | localizedcurrency('EUR') }}</td>
                                <td class="col-2"><span id="credit10">{{ (10 * form.ten.vars.value) | localizednumber }}</span></td>
                                <td class="col-2"><span id="price10">{{ (100 * form.ten.vars.value) | localizedcurrency('EUR') }}</span></td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-4">{{ form_label(form.hundred) }}</td>
                                <td class="col-2">{{ form_widget(form.hundred) }}</td>
                                <td class="col-2">{{ 1000 | localizedcurrency('EUR') }}</td>
                                <td class="col-2"><span id="credit10">{{ (10 * form.hundred.vars.value) | localizednumber }}</span></td>
                                <td class="col-2"><span id="price10">{{ (1000 * form.hundred.vars.value) | localizedcurrency('EUR') }}</span></td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-4">{{ form_label(form.fiveHundred) }}</td>
                                <td class="col-2">{{ form_widget(form.fiveHundred) }}</td>
                                <td class="col-2">{{ 4500 | localizedcurrency('EUR') }}</td>
                                <td class="col-2"><span id="credit10">{{ (10 * form.fiveHundred.vars.value) | localizednumber }}</span></td>
                                <td class="col-2"><span id="price10">{{ (4500 * form.fiveHundred.vars.value) | localizedcurrency('EUR') }}</span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="d-flex">
                                <th scope="col" class="col-10">Prix H.T. total</th>
                                <td class="col-2"><span id="totalHT">{{ order.price | localizedcurrency('EUR') }}</span></td>
                            </tr>
                            <tr class="d-flex">
                                <th scope="col" class="offset-8 col-2">TVA</th>
                                <td class="col-2"><span id="totalVAT">{{ order.vat | localizedcurrency('EUR') }}</span></td>
                            </tr>
                            <tr class="d-flex">
                                <th scope="col" class="offset-8 col-2">Prix T.T.C. total</th>
                                <td class="col-2"><span id="totalTTC"></span>{{ (order.vat + order.price) | localizedcurrency('EUR') }}</td>
                            </tr>
                        </tfoot>
                    </table>
                    {{ form_widget(form) }}
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" type="submit">
                        <span class="fas fa-fw fa-coins"></span>
                        {{ 'form.select-credit.field.submit' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
