<a href="{{ path('accountant_bill_list') }}" data-toggle="tooltip" data-placement="left"
   title="{{ 'action.bill.list.title' | trans }}" class="btn btn-outline-primary">
    <span class="fas fa-file-invoice-dollar"></span>
    <span class="sr-only">{{ 'action.bill.list.text' | trans }}</span>
</a>
{# TODO Change status !!! #}
{#<a href="{{ path('administration_user_password', {'id': user.id}) }}" data-toggle="tooltip" data-placement="left"#}
{#   title="{{ 'action.user.password.title' | trans }}" class="btn btn-outline-secondary">#}
{#    <span class="fas fa-key"></span>#}
{#    <span class="sr-only">{{ 'action.user.password.text' | trans }}</span>#}
{#</a>#}
