<a href="{{ path('accountant_bill_list') }}" data-toggle="tooltip" data-placement="left"
   title="{{ 'action.bill.list.title' | trans }}" class="btn btn-outline-primary">
    <span class="fas fa-file-invoice-dollar"></span>
    <span class="sr-only">{{ 'action.bill.list.text' | trans }}</span>
</a>
<a href="{{ path('accountant_bill_print', {'id': bill.id}) }}" data-toggle="tooltip" data-placement="left"
   title="{{ 'action.bill.print.title' | trans }}" class="btn btn-outline-primary" target="_blank">
    <span class="fas fa-print"></span>
    <span class="sr-only">{{ 'action.bill.print.text' | trans }}</span>
</a>
