{% extends 'base.html.twig' %}

{% block title %}{{ 'title.default.tos' | trans }}  &bull; {{ parent() }} {% endblock %}

{% block headline %}<h1>{{ 'title.default.tos' | trans }}</h1>{% endblock headline %}

{% block content_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('home') }}" title="{{ 'nav.home.title' | trans }}">{{ 'nav.home.text' | trans }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'title.default.tos' | trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block container %}
    {% include 'default/_tos.html.twig' %}
{% endblock %}

