<table class="table text-right">
    <thead>
    <tr class="d-flex">
        <th id="trArticle" scope="row" class="col-4"></th>
        <th id="trQuantity" scope="row" class="col-2">{{ 'table.order.quantity' | trans }}</th>
        <th id="trUnit" scope="row" class="col-2">{{ 'table.order.unit-price' | trans }}</th>
        <th id="trCredit" scope="row" class="col-2">{{ 'table.order.credits' | trans }}</th>
        <th id="trPrice" scope="row" class="col-2">{{ 'table.order.price' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for ordered in order.orderedArticles|filter(ordered => ordered.quantity > 0) %}
        <tr class="d-flex">
            <td headers="trArticle" class="col-4">{{ ordered.article | article }}</td>
            <td headers="trQuantity" class="col-2">{{ ordered.quantity }}</td>
            <td headers="trUnit" class="col-2">{{ ordered.article.price | euro }}</td>
            <td headers="trCredit" class="col-2">{{ (ordered.quantity * ordered.article.credit) | credit }}</td>
            <td headers="trPrice" class="col-2">{{ (ordered.quantity * ordered.article.price) | euro }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% if order.credits > 0 %}
    <tr class="d-flex">
        {# TODO Translate #}
        <th scope="col" class="col-10">Crédits total</th>
        <td class="col-2 pr-4">{{ order.credits | credit }}</td>
    </tr>
    {% endif %}
    <tr class="d-flex">
        {# TODO Translate #}
        <th scope="col" class="offset-8 col-2">Prix H.T. total</th>
        <td class="col-2">{{ order.price | euro }}</td>
    </tr>
    <tr class="d-flex">
        {# TODO Translate #}
        <th scope="col" class="offset-8 col-2">TVA</th>
        <td class="col-2">{{ order.vat | euro }}</td>
    </tr>
    <tr class="d-flex">
        {# TODO Translate #}
        <th scope="col" class="offset-8 col-2">Prix T.T.C. total</th>
        <td class="col-2">{{ (order.vat + order.price) | euro }}</td>
    </tr>
    </tfoot>
</table>