{% extends 'base.html.twig' %}

{% block title %}{{ 'title.accountant.asked-vat.list'|trans }} · {{ parent() }}{% endblock title %}

{% block content_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('home') }}" title="{{ 'nav.home.title' | trans }}">{{ 'nav.home.text' | trans }}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">{{ 'nav.accountant.text' | trans }}</li>
            <li class="breadcrumb-item" aria-current="page">{{ 'title.accountant.asked-vat.list' | trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block headline %}
    <h1>
        <span class="fa fa-fw fa-users"></span>
        {{ 'title.accountant.asked-vat.list'|trans }}
    </h1>
{% endblock %}

{% set direction = pagination.getDirection() %}

{% block container %}
    <table class="table table-striped">
        <thead>
        <tr class="bg-light">
            <th id="asked-created-at" class="align-middle">
                {{ knp_pagination_sortable(pagination, 'form.field.created-at' | trans, 'createdAt') }}
                <span class="{{ faSort(pagination.isSorted('createdAt'), direction, 'alpha') }}"></span>
            </th>
            <th id="asked-customer" class="align-middle">
                {{ knp_pagination_sortable(pagination, 'form.field.customer' | trans, 'customers') }}
                <span class="{{ faSort(pagination.isSorted('customers'), direction, 'alpha') }}"></span>
            </th>
            <th id="asked-bill-indication" class="align-middle">
                {{ 'form.field.explanation' | trans }}
            </th>
            <th id="asked-vat" class="align-middle">
                {{ 'form.field.vat' | trans }}
            </th>
            <th id="asked-vat-number" class="align-middle">
                {{ 'form.field.vat-number' | trans }}
            </th>
            <th id="asked-postal-code" class="align-middle">
                {{ 'form.field.postal-code' | trans }}
            </th>
            <th id="asked-vat-accountant" class="align-middle">{{ 'form.field.accountant' | trans }}</th>
            <th id="asked-vat-decision" class="align-middle">{{ 'form.field.decision' | trans }}</th>
            <th id="user-actions" class="align-middle"></th>
        </tr>
        </thead>
        <tbody>
        {% for asked in pagination %}
            <tr>
                <td headers="asked-created-at" class="align-middle">
                    {{ asked.createdAt | app_date('short', 'short') }}
                </td>
                <td headers="asked-customer" class="align-middle">{{ asked.customer.label }}</td>
                <td headers="asked-vat-bill-indication" class="align-middle">{{ asked.code }}</td>
                <td headers="asked-vat" class="align-middle">{{ asked.vat | vat }}</td>
                <td headers="asked-vat-number" class="align-middle">{{ asked.customer.vatNumber }}</td>
                <td headers="asked-postal-code" class="align-middle">{{ asked.customer.postalCode }}</td>
                <td headers="asked-vat-accountant" class="align-middle">
                    {% if asked.accountant is not null %}
                        {{ asked.accountant.label }}
                    {% endif %}
                </td>
                <td headers="asked-vat-asked" class="align-middle">{{ asked.status | badgeAskedVat }}</td>
                <td headers="user-actions" class="align-middle">
                    <div class="btn-group">
                        {% if app.user.admin %}
                            <a class="btn btn-outline-secondary" title="{{ 'action.user.show.title' | trans }}"
                               href="{{ path('administration_user_show', { 'id': asked.customer.id }) }}"
                               data-placement="left" data-toggle="tooltip">
                                <span class="fa fa-eye"></span>
                                <span class="sr-only">{{ 'action.user.show.text' | trans }}</span>
                            </a>
                        {% endif %}
                        {% if asked.status == 0 %}
                            <a class="btn btn-outline-success" title="{{ 'action.accountant.accept.title' | trans }}"
                               href="{{ path('accountant_vat_accept', { 'asked': asked.id }) }}"
                               data-placement="left" data-toggle="tooltip">
                                <span class="fa fa-check"></span>
                                <span class="sr-only">{{ 'action.accountant.accept.text' | trans }}</span>
                            </a>
                            <a class="btn btn-outline-danger" title="{{ 'action.accountant.reject.title' | trans }}"
                               href="{{ path('accountant_vat_reject', { 'asked': asked.id }) }}"
                               data-placement="left" data-toggle="tooltip">
                                <span class="fa fa-times"></span>
                                <span class="sr-only">{{ 'action.accountant.reject.text' | trans }}</span>
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock container %}

{% block content_action %}
{% endblock content_action %}
