{% extends 'base.html.twig' %}

{% block title %}{{ 'title.security.password-reset' | trans }} &bull; {{ parent() }}{% endblock %}

{% block content_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('home') }}" title="{{ 'nav.home.title' | trans }}">{{ 'nav.home.text' | trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('security_login') }}" title="{{ 'nav.login.title' | trans }}">{{ 'nav.login.text' | trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'nav.reset-password.text' | trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card border-primary">
                <div class="card-header">
                    <h1>
                        <span class="fa fa-first-aid"></span>
                        {{ 'title.security.password-reset' | trans }}
                    </h1>
                </div>
                <div class="card-body">
                    <p class="alert alert-info text-center">
                        {{ 'explanations.password-reset' | trans }}
                    </p>
                    {{ form_widget(form) }}
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" type="submit">
                        <span class="fas fa-fw fa-sync mr-2"></span>{{ 'form.password-reset.field.submit' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
