{% set route = app.request.get('_route') %}
{% if is_granted('ROLE_ACCOUNTANT') or is_granted('ROLE_PROGRAMMER') or is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-expand-lg bg-light mb-0">
        <div class="container">
            <div class="collapse navbar-collapse" id="adminNavAltMarkup">
                <ul class="navbar-nav mx-auto">
                    {% if is_granted('ROLE_ACCOUNTANT') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-fw fa-comment-dollar"></span> {{ 'nav.accountant.text' | trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {# BILLS #}
                                <a class="dropdown-item {{ route starts with 'accountant_bill' ? 'active' }}"
                                   href="{{ path('accountant_bill_list') }}" data-placement="left" data-toggle="tooltip"
                                   title="{{ 'nav.accountant.submenu.bill.title' | trans }}">
                                    <span class="fas fa-fw fa-file-invoice-dollar"></span>
                                    {{ 'nav.accountant.submenu.bill.text' | trans }}
                                </a>
                                {# USERS #}
                                {#                          {# TODO Changer cette route qui fait péter le truc au dessus #}
                                <a class="dropdown-item {{ route == 'accountant_user_new' ? 'active' }}"
                                   href="{{ path('accountant_user_list') }}" data-placement="left" data-toggle="tooltip"
                                   title="{{ 'nav.accountant.submenu.user.title' | trans }}">
                                    <span class="fas fa-fw fa-file-invoice-dollar"></span>
                                    {{ 'nav.accountant.submenu.user.text' | trans }}
                                </a>
                            </div>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_PROGRAMMER') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{ route starts with 'programmer_' ? 'active' }}" href="#"
                               id="navbarProgrammerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <span class="fas fa-fw fa-tachometer-alt"></span> {{ 'nav.programmer.text' | trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarProgrammerDropdown">
                                <a class="dropdown-item {{ route == 'programmer_list' ? 'active' }}"
                                   href="{{ path('programmer_list') }}" data-placement="right" data-toggle="tooltip"
                                   title="{{ 'nav.programmer.submenu.command.title' | trans }}" >
                                    <span class="fas fa-fw fa-car-alt"></span>
                                    {{ 'nav.programmer.submenu.command.text' | trans }}
                                </a>
                                <a class="dropdown-item {{ route == 'programmer_status' ? 'active' }}"
                                   href="{{ path('programmer_status') }}" data-placement="right" data-toggle="tooltip"
                                   title="{{ 'nav.programmer.submenu.status.title' | trans }}" >
                                    <span class="fas fa-fw fa-car-alt"></span>
                                    {{ 'nav.programmer.submenu.status.text' | trans }}
                                </a>
                            </div>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown {{ route starts with 'administration' ? 'active' }}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-fw fa-user-shield"></span> {{ 'nav.admin.text' | trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarAdminDropdown">
                                {# Users #}
                                <a class="dropdown-item {{ route starts with 'administration_user' ? 'active' }}"
                                   data-toggle="tooltip" href="{{ path('administration_user_index') }}"
                                   title="{{ 'nav.admin.submenu.users.title' | trans }}" data-placement="right">
                                    <span class="fas fa-fw fa-users-cog"></span>
                                    {{ 'nav.admin.submenu.users.text' | trans }}</a>
                                {# Settings #}
                                <a class="dropdown-item {{ route starts with 'administration_settings' ? 'active' }}"
                                   href="{{ path('administration_settings_list') }}" data-toggle="tooltip"
                                   data-placement="right" title="{{ 'nav.admin.submenu.settings.title' | trans }}" >
                                    <span class="fas fa-fw fa-cogs"></span>
                                    {{ 'nav.admin.submenu.settings.text' | trans }}
                                </a>
                                {# Mails #}
                                <a class="dropdown-item {{ route starts with 'administration_mail' ? 'active' }}"
                                   href="{{ path('administration_mail_main') }}" data-toggle="tooltip"
                                   data-placement="right" title="{{ 'nav.admin.submenu.mail.title' | trans }}" >
                                    <span class="far fa-fw fa-envelope-open"></span>
                                    {{ 'nav.admin.submenu.mail.text' | trans }}
                                </a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endif %}