{% set route = app.request.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-0">
    <div class="container">
        <a class="navbar-brand" href="#" style="background-color: white; padding-left: 10px; padding-right: 10px;">
            <img src="{{ asset('img/o2programmation.png') }}" width="50" height="30" alt="O2 logo">
            <span class="text-primary"><strong>O2 Files</strong></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link {{ route == 'home' ? 'active' }}" href="{{ path('home') }}" title="{{ 'nav.home.title' | trans }}"
                    data-toggle="tooltip" data-placement="bottom">
                    <span class="fa fa-home"></span>&nbsp;{{ 'nav.home.text' | trans }}
                </a>
                {% if is_granted('ROLE_COMPTABLE') %}
                <a class="nav-item nav-link {{ route starts with 'comptable' ? 'active' }}" href="{{ '#' }}"
                   data-toggle="tooltip" data-placement="bottom" title="{{ 'nav.comptable.title' | trans }}">
                    <span class="far fa-address-book"></span>
                    {{ 'nav.comptable.text' | trans }}
                </a>
                {% endif %}
                {% if is_granted('ROLE_READ_ORGANIZATION') %}
                <a class="nav-item nav-link {{ route starts with 'organization' ? 'active' }}"
                   data-toggle="tooltip" data-placement="bottom" href="{{ path('organization_index') }}"
                   title="{{ 'nav.organizations.title' | trans }}">
                    <span class="fa fa-building"></span>
                    {{ 'nav.organizations.text' | trans }}
                </a>
                {% endif %}
            </div>
            {% if is_granted('ROLE_READER') %}
            <form class="form-inline" action="{{ path('search') }}" method="get">
                <div class="input-group mr-sm-1">
                    <input type="text" class="form-control" name="search_form[search]" placeholder="Recherche&hellip;">
                    <div class="input-group-append">
                        <button class="btn btn-secondary my-0" type="submit">
                            <span class="fas fa-search"></span>
                            <span class="sr-only">{{ 'action.search' | trans }}</span>
                        </button>
                    </div>
                </div>
            </form>
            {% endif %}
            <div class="navbar-nav ml-auto">
                {% if is_granted('ROLE_MANAGE_USER') %}
                <a class="nav-item nav-link" href="{{ path('administration_user_index') }}" data-toggle="tooltip"
                   data-placement="bottom" title="{{ 'nav.user.title' | trans }}">
                    <span class="fa fa-users"></span>
                    {{ 'nav.user.text' | trans}}
                </a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="nav-item nav-link" href="{{ path('security_logout') }}" title="{{ 'nav.logout.title' | trans }}"
                       data-toggle="tooltip" data-placement="bottom">
                        <span class="fa fa-sign-out-alt"></span>
                        {{ 'nav.logout.text' | trans}}
                    </a>
                {% else %}
                    <a class="nav-item nav-link {{ route == 'security_register' ? 'active' }}" data-toggle="tooltip"
                       data-placement="bottom" href="{{ path('security_register') }}" title="{{ 'nav.register.title' | trans }}">
                        <span class="fa fa-sign-in-alt fa-rotate-270"></span>
                        {{ 'nav.register.text' | trans}}
                    </a>
                    <a class="nav-item nav-link {{ route == 'security_login' ? 'active' }}" href="{{ path('security_login') }}"
                       data-toggle="tooltip" data-placement="bottom" title="{{ 'nav.login.title' | trans }}">
                        <span class="fa fa-sign-in-alt"></span>
                        {{ 'nav.login.text' | trans}}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
