{% set route = app.request.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-0">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}" style="background-color: white; padding-left: 10px; padding-right: 10px;">
            <img src="{{ asset('img/o2programmation.png') }}" width="50" height="30" alt="{{ 'title.img' | trans }}"/>
            <span class="text-primary" title="{{ 'title.img' | trans }}"
               data-toggle="tooltip" data-placement="bottom">
                <strong>V-Mod Engineering</strong>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                {% if is_granted('ROLE_USER') %}
                    <a class="nav-item nav-link" href="{{ path('customer_order_credit') }}" data-placement="bottom"
                       title="{{ 'nav.customer.submenu.credit.title' | trans }}" data-toggle="tooltip">
                        <span class="fa fa-fw fa-coins"></span>
                        {{ 'home.credits %count%' | trans({'%count%': app.user.credit}) }}
                    </a>
                {% endif %}
                {% if not is_granted('ROLE_USER') %}
                    <a class="nav-item nav-link" href="{{ path('language_french') }}" data-placement="bottom"
                       title="Basculer l’application en français" data-toggle="tooltip">
                        <span class="flag-icon flag-icon-fr "></span>
                        <span class="sr-only">Français</span>
                    </a>
                    <a class="nav-item nav-link" href="{{ path('language_english') }}" data-placement="bottom"
                       title="Switch to english version" data-toggle="tooltip">
                        <span class="flag-icon flag-icon-gb"></span>
                        <span class="sr-only">English</span>
                    </a>
                {% endif %}
                {% if settings('service-status') is same as (0) %}
                    <div class="ml-5 navbar-text">
                        {% if is_granted('ROLE_PROGRAMMER') %}
                            <a href="{{ path('programmer_status_close') }}" class="badge badge-pill badge-success"
                               data-toggle="tooltip" data-title="{{ 'service.status.to-close.title' | trans}}">
                                {{ 'service.status.open.text' | trans}}
                            </a>
                        {% else %}
                            <span class="badge badge-pill badge-success" data-toggle="tooltip"
                                  data-title="{{ 'service.status.open.title' | trans}}">
                                {{ 'service.status.open.text' | trans}}
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
                {% if settings('service-status') is same as (1) %}
                    <div class="ml-5 navbar-text">
                        {% if is_granted('ROLE_PROGRAMMER') %}
                            <a href="{{ path('programmer_status_open') }}" class="text-black-50 badge badge-pill badge-warning"
                               data-toggle="tooltip" data-title="{{ 'service.status.to-open.title' | trans}}">
                                {{ 'service.status.close.text' | trans}}
                            </a>
                        {% else %}
                            <span class="badge badge-pill badge-warning" data-toggle="tooltip"
                              data-title="{{ 'service.status.close.title' | trans}}">
                                {{ 'service.status.close.text' | trans}}
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
                {% if settings('service-status') is same as (2) %}
                    {% set date = max(settings('service-until'), date('now')) %}
                    <div class="ml-5 navbar-text">
                        <span class="badge badge-pill badge-danger" data-toggle="tooltip"
                        data-title="{{ 'service.status.vacancy.title %date%' | trans({'%date%': date | app_date('long', 'none')})}}">
                        {{ 'service.status.vacancy.text' | trans}}
                        </span>
                    </div>
                {% endif %}
            </div>
            <div class="navbar-nav ml-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item dropdown {{ route starts with 'customer' ? 'active' }}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-fw fa-user"></span> {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {# Credits #}
                            <a class="dropdown-item {{ route == 'customer_order_credit' ? 'active' }}"
                               href="{{ path('customer_order_credit') }}" data-placement="left" data-toggle="tooltip"
                               title="{{ 'nav.customer.submenu.credit.title' | trans }}">
                                <span class="fas fa-fw fa-coins"></span>
                                {{ 'nav.customer.submenu.credit.text' | trans }}
                            </a>
                            {# File Order #}
                            <a class="dropdown-item {{ route == 'customer_file_new' }}"
                               href="{{ path('customer_file_new') }}" data-placement="left" data-toggle="tooltip"
                               title="{{ 'nav.customer.submenu.order.title' | trans }}">
                                <span class="fas fa-fw fa-car"></span>
                                {{ 'nav.customer.submenu.order.text' | trans }}
                            </a>
                            {# User bills #}
                            <a class="dropdown-item {{ route == 'customer_bill_list' ? 'active' }}"
                               href="{{ path('customer_bill_list') }}" data-placement="left" data-toggle="tooltip"
                               title="{{ 'nav.customer.submenu.bills.title' | trans }}">
                                <span class="fas fa-fw fa-file-invoice-dollar"></span>
                                {{ 'nav.customer.submenu.bills.text' | trans }}
                            </a>
                            {# User files #}
                            <a class="dropdown-item {{ route == 'customer_programmation_list' ? 'active' }}"
                               href=" {{ path('customer_programmation_list')}}" data-toggle="tooltip"
                               data-placement="left" title="{{ 'nav.customer.submenu.files.title' | trans }}">
                                <span class="fas fa-fw fa-tachometer-alt"></span>
                                {{ 'nav.customer.submenu.files.text' | trans }}
                            </a>
                            <div class="dropdown-divider"></div>
                            {# User profile #}
                            <a class="dropdown-item {{ route == 'customer_profile' ? 'active' }}" href="{{ path('customer_profile') }}"
                               data-toggle="tooltip" data-placement="left" title="{{ 'nav.customer.submenu.profile.title' | trans }}">
                                <span class="fas fa-fw fa-user-cog"></span>
                                {{ 'nav.customer.submenu.profile.text' | trans }}
                            </a>
                            {# User vat #}
                            <a class="dropdown-item {{ route == 'customer_vat' ? 'active' }}" href="{{ path('customer_vat') }}"
                               data-toggle="tooltip" data-placement="left" title="{{ 'nav.customer.submenu.vat.title' | trans }}">
                                <span class="fas fa-fw fa-hand-holding-usd"></span>
                                {{ 'nav.customer.submenu.vat.text' | trans }}
                            </a>
                            {# User password #}
                            <a class="dropdown-item {{ route == 'customer_password' ? 'active' }}" href="{{ path('customer_password') }}"
                               data-toggle="tooltip" data-placement="left" title="{{ 'nav.customer.submenu.password.title' | trans }}">
                                <span class="fas fa-fw fa-key"></span>
                                {{ 'nav.customer.submenu.password.text' | trans }}
                            </a>
                            <div class="dropdown-divider"></div>
                            {% if not app.user.isEnglish %}
                            <a class="dropdown-item" href="{{ path('language_english') }}"
                               data-toggle="tooltip" data-placement="left" title="Switch to english version">
                                <span class="fa-fw flag-icon flag-icon-gb"></span>
                                English
                            </a>
                            {% endif %}
                            {% if not app.user.isFrench %}
                            <a class="dropdown-item" href="{{ path('language_english') }}"
                               data-toggle="tooltip" data-placement="left" title="Basculer l’application en anglais">
                                <span class="fa-fw flag-icon flag-icon-fr"></span>
                                Français
                            </a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            {# Logout #}
                            <a class="dropdown-item" href="{{ path('security_logout') }}" data-toggle="tooltip"
                               data-placement="left" title="{{ 'nav.logout.title' | trans }}">
                                <span class="fas fa-fw fa-sign-out-alt"></span>
                                {{ 'nav.logout.text' | trans }}
                            </a>
                        </div>
                    </li>
                {% else %}
                    <a class="nav-item nav-link {{ route == 'security_register' ? 'active' }}" data-toggle="tooltip"
                       data-placement="bottom" href="{{ path('security_register') }}"
                       title="{{ 'nav.register.title' | trans }}">
                        <span class="fa fa-fw fa-sign-in-alt fa-fw fa-rotate-270"></span>
                        {{ 'nav.register.text' | trans }}
                    </a>
                    <a class="nav-item nav-link {{ route == 'security_login' ? 'active' }}"
                       href="{{ path('security_login') }}"
                       data-toggle="tooltip" data-placement="bottom" title="{{ 'nav.login.title' | trans }}">
                        <span class="fa fa-fw fa-sign-in-alt"></span>
                        {{ 'nav.login.text' | trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
