{% trans_default_domain('mail') %}
<h3>{{ 'title.programmation-done' | trans }}</h3>
<p>
    {{ 'explanation.programmation-done %make% %model%' | trans({
        '%make%': programmation.make,
        '%model%': programmation.model
    })
    }}
</p>
<a href="{{ show }}" title="{{ 'link.programmation-show.title' | trans}}">{{ 'link.programmation-show.text' | trans}}</a>
<a href="{{ download }}" title="{{ 'link.download-final-file.title' | trans}}">{{ 'link.download-final-file.text' | trans}}</a>
