{% trans_default_domain('mail') %}
<h3>{{ 'title.programmation-done' | trans }}</h3>
<p>
    {{ 'explanation.programmation-done %make% %model%' | trans({
        '%make%': programmation.make,
        '%model%': programmation.model
    })
    }}
</p>
<ul>
    <li><a href="{{ absolute_url(path('customer_programmation_show',{'id': programmation.id})) }}"
           title="{{ 'link.programmation-show.title' | trans}}">{{ 'link.programmation-show.text' | trans}}</a></li>
    <li><a href="{{ absolute_url(path('customer_programmation_download',{'id': programmation.id})) }}"
   title="{{ 'link.download-final-file.title' | trans}}">{{ 'link.download-final-file.text' | trans}}</a></li>
</ul>